:root {
    --darkColor: #555554;
    --darkInDark: #797979;
    --lightColor: #ececec;
    --lightInLight: #dbdbdb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: urwdin;
}

@font-face {
    font-family: urwdin;
    src: url(../tools/font/URWDIN/URWDIN-Medium.ttf);
}

/*********************************** header **************************/

header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    transition: all 500ms;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftHeader {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--lightColor);
}

.leftHeader>span {
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    cursor: default;
}

.rightHeader {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--lightColor);
}

.menu {
    display: none;
}

.rightHeader>.subMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    list-style: none;
}

.rightHeader>.subMenu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
}

.rightHeader>.subMenu>li>a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/********************************** main ****************************/
/**************************** light parts ***********************/

.main {
    width: 100%;
    height: auto;
}

.parts {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--lightColor);
}

.leftParts {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.leftParts>.pageNumber>span {
    display: block;
    font-size: 80px;
    color: var(--lightInLight);
}

.leftParts>.yLine>span {
    display: block;
    width: 2px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(112, 112, 112);
}

.leftParts>.text {
    letter-spacing: 1px;
    height: 110px;
    font-size: 12px;
    transform: rotate(-90deg);
    color: rgb(119, 119, 119);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;

}

.rightParts {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}

.rightParts>.title {
    margin-bottom: 10px;
}

.rightParts>.title>span {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
}

.rightParts>.xLine {
    width: 30px;
    height: 3px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
}

.rightParts>.description {
    color: rgb(119, 119, 119);
    font-size: 16px;
    max-width: 500px;
    margin-right: 20px;
}

/********************************** dark parts ******************************/

.dark {
    background-color: var(--darkColor);
}

.dark>.leftParts>.pageNumber>span {
    color: var(--darkInDark);
}

.dark>.leftParts>.yLine>span {
    background-color: rgb(230, 230, 230);
}

.dark>.leftParts>.text {
    color: rgb(212, 212, 212);
}

.dark>.rightParts>.title>span {
    color: rgb(255, 255, 255);
}

.dark>.rightParts>.xLine {
    background-color: rgb(255, 255, 255);
}

.dark>.rightParts>.description {
    color: rgb(196, 196, 196);
}

/******************************* custom scroll bar *****************************/

html {
    scroll-behavior: smooth;
}

.customScroll {
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
}

.customScroll>ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 8px;
}

.customScroll>ul>li {
    margin: 8px;
    width: 12px;
    height: 3px;
    border-radius: 20px;
    background-color: #b3b3b3;
    cursor: pointer;
}

.customScroll>ul>li.dark {
    background-color: var(--darkInDark);
}

.customScroll>ul>li.active {
    background-color: var(--darkColor);
}

.customScroll>ul>li.dark.active {
    background-color: var(--lightColor);
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/******************************** other device **********************/

@media only screen and (max-width: 480px) {
    .menu {
        display: flex;
        flex-flow: column;
        list-style: none;
        margin-right: 20px;
    }

    .menu>li {
        width: 20px;
        height: 2px;
        background-color: rgb(0, 0, 0);
        margin: 3px 0;
        border-radius: 20px;
    }

    .subMenu li {
        display: none !important;
    }

}