:root {
    --darkColor: #555554;
    --darkInDark: #797979;
    --lightColor: #ececec;
    --lightInLight: #dbdbdb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: urwdin;
}

@font-face {
    font-family: urwdin;
    src: url(../tools/font/URWDIN/URWDIN-Medium.ttf);
}

/*********************************** header **************************/

header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    transition: all 500ms;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--lightColor);
}

.leftHeader {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.leftHeader>span {
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    cursor: default;
}

.rightHeader {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    display: none;
}

.rightHeader>.subMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    list-style: none;
}

.rightHeader>.subMenu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
}

.rightHeader>.subMenu>li>a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/********************************** main ****************************/
/**************************** light parts ***********************/

.main {
    width: 100%;
    height: auto;
}

.parts {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: var(--lightColor);
    align-items: center;
}

.leftParts {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.leftParts>.pageNumber>span {
    display: block;
    font-size: 80px;
    color: var(--lightInLight);
}

.leftParts>.yLine>span {
    display: block;
    width: 2px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(112, 112, 112);
}

.leftParts>.text {
    letter-spacing: 1px;
    height: 110px;
    font-size: 12px;
    transform: rotate(-90deg);
    color: rgb(119, 119, 119);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;

}

.rightParts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightParts>.container {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}

.rightParts>.container>.title {
    margin-bottom: 10px;
}

.rightParts>.container>.title>span {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
}

.small {
    font-size: 12px !important;
    color: rgb(233, 233, 233) !important;
    font-weight: 900 !important;
}

.rightParts>.container>.xLine {
    width: 30px;
    height: 3px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
}

.rightParts>.container>.description {
    color: rgb(119, 119, 119);
    font-size: 16px;
    max-width: 450px;
    margin-right: 25px;
    line-height: 25px;
}

.imageContainer {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 350px;
    background-color: var(--lightInLight);
    width: 350px;
    height: 350px;
}

.image>a>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    min-height: 45px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    position: absolute;
}

.image>a:nth-child(1)>.icon {
    left: 71px;
    top: 108px;
    animation: iconAnimate 2500ms 800ms infinite;
}

.image>a:nth-child(2)>.icon {
    left: 118px;
    top: 207px;
    animation: iconAnimate 2500ms 300ms infinite;
}

.image>a:nth-child(3)>.icon {
    left: 195px;
    top: 207px;
    animation: iconAnimate 2500ms 100ms infinite;
}

.image>a:nth-child(4)>.icon {
    left: 158px;
    top: 108px;
    animation: iconAnimate 2500ms 400ms infinite;
}

.image>a:nth-child(5)>.icon {
    left: 237px;
    top: 108px;
    animation: iconAnimate 2500ms 200ms infinite;
}

.image>a>.icon>img {
    width: 30px;
}

@keyframes iconAnimate {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.imageContainer>.image>img {
    position: relative;
    display: block;
    width: 325px;
    height: 325px;
    left: 0;
}

.link {
    width: 115px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.link:hover a {
    color: rgb(255, 255, 255);
}

.link:hover .fleshIcon {
    animation: animate 800ms infinite;
}

.link>a {
    font-size: 14px;
    color: #e9e9e9;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 500ms; */
}

.link>.fleshIcon {
    display: block;
    background: url(../images/icons8-chevron-right-30.png);
    background-size: cover;
    width: 13px;
    height: 13px;
    position: relative;
    top: 0;
    margin-left: 2px;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(6px);
    }
}

/********************************** dark parts ******************************/

.dark {
    background-color: var(--darkColor);
}

.dark>.leftParts>.pageNumber>span {
    color: var(--darkInDark);
}

.dark>.leftParts>.yLine>span {
    background-color: rgb(230, 230, 230);
}

.dark>.leftParts>.text {
    color: rgb(212, 212, 212);
}

.dark>.rightParts>.container>.title>span {
    color: rgb(255, 255, 255);
}

.dark>.rightParts>.container>.xLine {
    background-color: rgb(255, 255, 255);
}

.dark>.rightParts>.container>.description {
    color: rgb(196, 196, 196);
}

.dark>.rightParts>.imageContainer>.image {
    background-color: var(--darkInDark);
}

.skills {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.box>span {
    margin-top: 10px;
    color: rgb(221, 221, 221);
    font-weight: 900;
    font-size: 15px;
}

.contain {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--darkInDark);
    border-radius: 50%;
    overflow: hidden;
}

.contain>span {
    color: var(--lightInLight);
    z-index: 500;
    font-size: 16px;
}

.liquid {
    position: absolute;
    top: 100%;
    width: 100px;
    height: 100px;
    background-color: rgba(148, 20, 20, 0.699);
    animation: liquid 2500ms ease-in-out infinite;
    transition: all 2500ms ease-out;
}

.liquid2 {
    position: absolute;
    top: 100%;
    width: 100px;
    height: 100px;
    background-color: rgba(196, 29, 29, 0.589);
    animation: liquid 2500ms 400ms ease-in-out infinite;
    transition: all 2500ms ease-out;
}

.liquid.active, .liquid2.active {
    top: 45%;
}

@keyframes liquid {
    0%,100% {clip-path: polygon(0 9%, 9% 7%, 18% 7%, 28% 9%, 40% 13%, 53% 17%, 68% 18%, 82% 17%, 92% 15%, 100% 11%, 100% 100%, 0% 100%);
    }
    50% {clip-path: polygon(0 11%, 11% 14%, 23% 16%, 36% 16%, 55% 13%, 69% 10%, 78% 6%, 86% 5%, 94% 6%, 100% 9%, 100% 100%, 0% 100%);
    }
}

/******************************* custom scroll bar *****************************/

html {
    scroll-behavior: smooth;
}

.customScroll {
    z-index: 2000;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
}

.customScroll>ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 10px;
}

.customScroll>ul>li {
    margin: 8px 0;
    width: 12px;
    height: 3px;
    border-radius: 20px;
    background-color: #b3b3b3;
    cursor: pointer;
}

.customScroll>ul>li.dark {
    background-color: var(--darkInDark);
}

.customScroll>ul>li.active {
    background-color: var(--darkColor);
}

.customScroll>ul>li.dark.active {
    background-color: var(--lightColor);
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/******************************** other device **********************/

@media only screen and (max-width: 480px) {
    .menu {
        display: flex;
        flex-flow: column;
        list-style: none;
        margin-right: 20px;
        position: relative;
    }

    .menu>li {
        width: 20px;
        height: 2px;
        background-color: rgb(0, 0, 0);
        margin: 3px 0;
        border-radius: 20px;
        opacity: 1;
        position: relative;
        top: 0px;
        transition: all 300ms;
    }

    .menu.active :nth-child(1) {
        transform: rotate(-45deg);
        position: relative;
        top: 8px;
        right: 0;
    }

    .menu.active :nth-child(2) {
        opacity: 0;
    }

    .menu.active :nth-child(3) {
        transform: rotate(45deg);
        position: relative;
        top: -8px;
        right: 0;
    }

    .subMenu {
        position: absolute;
        top: -119%;
        width: 100%;
        box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.411);
        background-color: rgb(219, 219, 219);
        flex-flow: column !important;
        align-items: flex-end !important;
        z-index: -2;
        transition: all 300ms;
    }

    .subMenu.active {
        top: 100%;
    }

    .subMenu>li {
        margin: 15px;
        justify-content: flex-end !important;
    }

}